button {
   cursor: pointer;
}

.homepage {
   margin-top: 100px;
}

.pagination {
   display: inline-block;
   margin: 20px;
   border-radius: 5px;
}

.pagination li {
   display: inline;
}

.pagination li a,
.pagination li.disabled span,
.pagination li.active span {
   text-decoration: none;
   position: relative;
   float: left;
   border: #ddd;
   padding: 6px 12px;
   line-height: 1.4;
}

.pagination li a {
   color: #337ab7;
   background-color: #fff;
}

.pagination li.active span,
.pagination li:hover a{
   color: #fff;
   background-color: #337ab7;
}

.poster {
   width: 250px;
   height: 300px;
   object-fit: cover;
}

.title_section {
   margin: 10px 0;
}

a.title {
   text-decoration: none;
   color: #000;
}

.admin-poster {
   height: 100px;
   object-fit: cover;
}
